.service {
    padding: 20px;
    margin: 10px 0;
    border-radius: 3px;
    border: 1px solid var(--grey-light);
}

.service .service-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    grid-row-gap: 15px;
    padding: 15px;
    max-width: 550px;
}
.service .service-list .service-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service .service-list .service-item p {
    font-size: 13px;
    font-weight: 300;
}
.service h3 {
    font-size: 10px;
    font-weight: 300;
}

.service-list p {
    font-size: 12px;
}

.service .separator {
    height: 0.5px;
    width: 100%;
    background-color: var(--grey-light);
    border: none;
    opacity: 0.2;
    margin: 10px 0;
}

@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 600px) {
}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 400px) {
}
