.cart-item {
    width: 580px;
    height: 160px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 3px;
    overflow: hidden;
    background-color: var(--background);
    margin: 7px auto;
}
.cart-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cart-item .tour-detail {
    height: 100%;
    padding: 10px;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.cart-item .tour-detail .name {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}
.cart-item .tour-detail .subtotal {
    font-weight: 900px;
    text-align: right;
}
.cart-item .delete-button {
    background-color: transparent;
    color: var(--light);
    border: none;
    position: absolute;
    right: 10px;
}

.cart-item .delete-button:hover {
    cursor: pointer;
    color: var(--dark);
    transition: 0.2s ease-in;
}
.cart-item  .separator {
    height: 1px;
    background-color: var(--grey);
    border: none;
    opacity: 0.2;
    margin: 2px 0;
}

@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 800px) {
}
@media only screen and (max-width: 600px) {
    .cart-item {
        grid-template-columns: 1fr;
        height: auto;
        width: 90vw;
    }
    .cart-item img {
        height: 150px;
    }
}