.cart-item {
    width: 90%;
    min-height: 160px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--background);
    border-radius: 3px;
    border: 1px solid var(--grey-light);
    box-shadow: 1px 1px 4px 3px rgba(142, 142, 142, 0.169);
    margin: 7px auto;
}
.cart-item .tour-img {
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.cart-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cart-item .tour-detail {
    height: 100%;
    padding: 10px;
    text-align: left;
    position: relative;
    padding-left: 20px;
}
.cart-item .tour-detail .name {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}
.cart-item .tour-detail .date {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 500;
    display: flex;
}
.cart-item .tour-detail .date .date-value {
    cursor: pointer;
    border: 1px solid var(--grey-light);
    padding: 3px 12px;
}

.cart-item .tour-detail .date .date-input {
    display: flex;
    position: absolute;
    background-color: var(--background);
    border-radius: 3px;
    z-index: 400;
    box-shadow: 1px 1px 4px 3px rgba(142, 142, 142, 0.169);
    margin: -10px 0;
}
.cart-item .tour-detail .date .date-input.visible {
    visibility: visible;
    opacity: 1;
    transition: 200ms ease;
    transform: translateY(0);
}
.cart-item .tour-detail .date .date-input.hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-5px);
}
.cart-item .tour-detail .detail .pax {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.cart-item .tour-detail .detail .pax .pax-value {
    border: 1px solid var(--grey-light);
    padding: 3px 10px;
}
.cart-item .tour-detail .detail span svg {
    margin: 0 5px;
    cursor: pointer;
}
.cart-item .tour-detail .subtotal {
    font-size: 15px;
    font-weight: 600;
    text-align: right;
}
.cart-item .delete-button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 10px;
}

.cart-item .delete-button:hover {
    cursor: pointer;
    transition: 0.2s ease-in;
}
.cart-item  .separator {
    height: 1px;
    background-color: var(--grey);
    border: none;
    opacity: 0.2;
    margin: 2px 0;
}

@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 800px) {
}
@media only screen and (max-width: 600px) {
    .cart-item {
        grid-template-columns: 1fr;
        height: auto;
        width: 90vw;
    }
    .cart-item img {
        height: 150px;
    }
}