.cartSummary {
    background-color: rgba(255, 255, 255, 0.957);
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 10px;
    width: 380px;
    z-index: 100;
    color: var(--grey);
}

.cartSummary.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 500ms ease;
}
.cartSummary.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
}
.cartSummary .header {
    display: flex;
}
.cartSummary h1 {
    width: 100%;
}
.cartSummary .closeCartSummaryBttn {
    width: 10%;
    background-color: transparent;
    color: var(--dark);
    border: none;
    position: absolute;
    right: 0;
}
.cartSummary .closeCartSummaryBttn:hover {
    cursor: pointer;
    color: var(--light);
    transition: 0.2s ease-in;
}

.cartSummary .total {
    font-weight: 600;
    margin: 15px;
    text-align: right;
}
.cartSummaryItem p {
    font-size: 14px;
    color: var(--grey);
}

.cartSummary h1 {
    font-size: 25px;
    font-family: var(--font1);
    color: var(--grey);
}

.cartSummary a {
    text-decoration: none;
}

.cartSummary .separator {
    height: 1px;
    background-color: var(--grey);
    border: none;
    opacity: 0.2;
    margin: 14px;
}

@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 600px) {
    .cartSummary {
        width: 100%;
        height: 100%;
        padding: 0px;
    }
}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 400px) {
}