.cart-summary {
    background-color: rgba(255, 255, 255, 0.957);
    position: fixed;
    top: 50px;
    right: 5px;
    padding: 20px;
    min-width: 280px;
    z-index: 100;
    border-radius: 3px;
    border: 1px solid var(--grey-light);
    transition: 500ms ease-in-out;
    font-family: var(--font1);
}

.cart-summary.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.cart-summary.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
}
.cart-summary .header {
    display: flex;
}
.cart-summary h1 {
    width: 100%;
}
.cart-summary .closeCartSummaryBttn {
    width: 10%;
    background-color: transparent;
    color: var(--dark);
    border: none;
    position: absolute;
    right: 0;
}
.cart-summary .closeCartSummaryBttn:hover {
    cursor: pointer;
    color: var(--light);
    transition: 0.2s ease-in;
}
.cart-summary .cart-summary-items {
    display: flex;
    flex-direction: column;
}
.cart-summary .cart-summary-items .cart-summary-item {
    display: flex;
    flex-direction: column;
}
.cart-summary .cart-summary-items .cart-summary-item .name {
    font-size: 14px;
    font-weight: 600;
}
.cart-summary .cart-summary-items .cart-summary-item .pax {
    font-size: 13px;
}
.cart-summary .cart-summary-items .cart-summary-item .date {
    font-size: 13px;
}
.cart-summary .total {
    font-weight: 600;
    margin: 15px;
    text-align: right;
}

.cart-summary h1 {
    font-size: 25px;
    font-family: var(--font1);
    color: var(--grey);
}

.cart-summary a {
    text-decoration: none;
}

.cart-summary .separator {
    height: 1px;
    background-color: var(--grey);
    border: none;
    opacity: 0.2;
    margin: 14px;
}

@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 600px) {
    .cart-summary {
        width: 100%;
        height: 100%;
        padding: 40px 10px;
        top: 0;
        right: 0;
    }
}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 400px) {
}