.faq {
    margin: 30px 0;
}
.faq .faq-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.faq svg {
    margin-right: 3px;
}
.faq .faq-list .question {
    display: flex;    
    justify-content: center;
    align-items: center;
    margin: 5px auto;
}

.faq .faq-list .question p {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.05rem;
    cursor: pointer;
}
.faq .faq-list .answer {
    max-height: 0;
    opacity: 0;
    transition: max-height 300ms ease, opacity 300ms ease;
    overflow: hidden;
}
.faq .answer.active {
    max-height: 1000px;
    opacity: 1;
    transition: max-height 600ms ease, opacity 200ms ease;
}
.faq .contact-info {
    padding: 20px;
    margin: 10px 0;
    border-radius: 3px;
    border: 1px solid black;
}
.faq .contact-info p {
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0;
}
.faq .contact-info .whattsappIcon svg {
    color: rgb(32, 214, 32);
    cursor: pointer;
    border: none;
    display: block;
    margin: auto;
}
.faq .contact-info a {
    text-decoration: underline;
    font-size: 13px;
}



@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {

}
@media only screen and (max-width: 600px) {

}