.faq {
    padding-top: 30px;
    color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.faq svg {
    margin-right: 5px;
}
.faq .questions {
    display: flex;    
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.faq .question {
    font-size: 12px;
    cursor: pointer;
}
.faq .answer.active {
    max-height: 1000px;
    opacity: 1;
    transition: max-height 600ms ease, opacity 200ms ease;
}
.faq .answer {
    max-height: 0;
    opacity: 0;
    transition: max-height 300ms ease, opacity 300ms ease;
    overflow: hidden;
}
.faq .contactInfo {
    padding: 20px;
    margin-top: 20px;
    border-radius: 30px;
    background-color: rgba(133, 133, 133, 0.047);

}
.faq .contactInfo p {
    font-size: 13px;
}

.faq .whattsappIcon svg {
    color: rgb(32, 214, 32);
    cursor: pointer;
    border: none;
    display: block;
    margin: auto;
}
.faq .contactInfo a {
    color: var(--dark);
    text-decoration: none;
    font-size: 13px;
}
.faq .contactInfo a:hover {
    background-color: var(--light);
}



@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {

}
@media only screen and (max-width: 600px) {

}