.gobackBttnwrapper {
    width: 70%;
    padding: 10px;
    color: var(--grey);
}
.gobackBttn {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.gobackBttn:hover {
    color: var(--light);
}
.gobackBttn svg {
    padding-right: 2px;
}



@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 600px) {
    .gobackBttnwrapper {
        display: none;
    }
}