.confirmation {
    padding-top: 100px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.confirmation h1 {
    font-size: 28px;
    color: black;
}
.confirmation h2 {
    font-size: 23px;
}
.confirmation .bookingInfo {
    min-width: 600px;
    background-color: var(--background);
    box-shadow: 3px 3px 7px 4px rgba(142, 142, 142, 0.169);
    border-radius: 3px;
    border: 1px solid var(--grey-light);
    margin: 20px;
    padding: 20px;
}
.confirmation .bookingInfo .category {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    font-size: 16px;

}

.confirmation .categoryTitle {
    color: var(--light);
    text-align: right;
    font-weight: 500;
}
.confirmation .categoryContent {
    text-align: left;
}
.confirmation .category .edit {
    display: flex;
    justify-content: space-between;
    place-items: center;
}
.confirmation .category .editBttn {
    cursor: pointer;
    border: none;
    margin-right: 30px;
}
.confirmation .category input {
    border: 1px solid transparent;
    width: 70%;
    padding: 2px;
    color: var(--grey);
}
.confirmation .category textarea {
    border: 1px solid transparent;
    resize: none;
    padding: 2px;
    width: 70%;
    min-height: 80px;
    color: var(--grey);
}
.confirmation .category .inactive {
    background-color: transparent;
}
.confirmation .category .active {
    background-color: var(--cream);
    color: green;
    border: 1px solid var(--grey);
}

.confirmation .separator {
    height: 1px;
    background-color: var(--grey);
    border: none;
    opacity: 0.2;
    margin: 10px;
}

.confirmation .bttns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.confirmation .editBttn {
    border: none;
    float: right;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--light-trans1);
    transition:  0.2s ease-in-out;
    width: 50px;
}
.confirmation .editBttn:hover {
    color: var(--cream);
    background-color: var(--light);
}
@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {
    .confirmation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .confirmation h2 {
        font-size: 18px;
    }
    .confirmation .bookingInfo {
        width: 90vw;
        margin: 10px;
    }
    .confirmation .bookingInfo .category {
        grid-template-columns: 1fr;
        margin: 3px;
    }
    .confirmation .categoryTitle {
        color: var(--light);
        text-align: left;
        padding-left: 20px;
        font-size: 14px;
    }
    .confirmation .category p {
        font-size: 14px;
    }
    .confirmation .category input {
        font-size: 14px;
    }
    .confirmation .category textarea {
        width: 75%;
        height: 40px;
        font-size: 14px;
    }
}
@media only screen and (max-width: 600px) {
    .confirmation .bttns {
        flex-direction: column;    
        gap: 0px;
    }
}