.booking-detail {
    background-color: white;
    margin: 15px;
    padding: 10px;
    width: 80vw;
    max-width: 630px;
    font-family: var(--font4);
    border-radius: 3px;
    border: 1px solid black;
    cursor: pointer;
}
.booking-detail .booking-ref {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grey);
}
.booking-detail .booking-ref svg {
    margin-right: 5px;
}
.booking-detail .booking-ref .caret {
    margin-left: auto;
}
.booking-detail .booking-ref h3 {
    font-weight: 600;
    font-size: 19px;
}
.booking-detail .detail {
    text-align: left;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    max-height: 0;
    opacity: 0;
    transition: max-height 300ms ease, opacity 300ms ease;
    overflow: hidden;
    position: relative;
}
.booking-detail .detail.active {
    max-height: 1000px;
    opacity: 1;
    transition: max-height 600ms ease, opacity 200ms ease;
}
.booking-detail .detail .guest-info, .booking-detail .detail .booking-list {
    padding: 10px 0;
}
.booking-detail .detail h4 {
    font-size: 12px;
    font-weight: 600;
    margin: 10px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: underline;
}
.booking-detail .detail p {
    font-size: 12px;
}
.booking-detail .detail .edit-button-wrapper {
    position: absolute;
    right: 0;
}
.booking-detail .separator {
    height: 0.5px;
    width: 100%;
    background-color: var(--light);
    border: none;
    margin: 10px 0;
}

@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {
    .booking-detail {
        width: 90vw;
    }
}
@media only screen and (max-width: 600px) {
    .mypage .Bttns {
        display: block;
    }

    .booking-detail .detail {
        display: block;
    }
}