.confirmation {
    padding-top: 100px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.confirmation h1 {
    font-size: 28px;
    color: black;
}
.confirmation h2 {
    font-size: 20px;
    font-weight: 600;
}
.confirmation .booking-info-wrapper {
    background-color: var(--background);
    box-shadow: 3px 3px 7px 4px rgba(142, 142, 142, 0.169);
    border-radius: 3px;
    border: 1px solid var(--grey-light);
    min-width: 700px;
    position: relative;
    margin: 20px;
}
.confirmation .booking-info {
    padding: 15px;
}
.confirmation .booking-info .category {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: 14px;
}
.confirmation .booking-info .category .category-title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.confirmation .booking-info .category span .edit-button {
    margin: 6px;
}

.confirmation .category-name {
    font-weight: 700;
}
.confirmation .category-content {
    text-align: left;
}
.confirmation .category .edit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    place-items: start;
}

.confirmation .category input {
    border: 1px solid transparent;
    width: 100%;
    padding: 2px;
    color: var(--grey);
}
.confirmation .category textarea {
    border: 1px solid transparent;
    resize: none;
    padding: 2px;
    width: 100%;
    min-height: 80px;
    color: var(--grey);
}
.confirmation .category .inactive {
    background-color: transparent;
}
.confirmation .category .active {
    color: green;
    border: 1px solid var(--grey-light);
}
.confirmation .category .payment .payment-amount {
    font-weight: 600;
}
.confirmation .category .payment .payment-id {
    font-size: 10px;
}

.confirmation .separator {
    height: 1px;
    background-color: var(--grey);
    border: none;
    opacity: 0.2;
    margin: 15px 0;
}

.confirmation .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}


@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {
    .confirmation .booking-info-wrapper {
        width: 90vw;
        min-width: 0;
    }
    .confirmation .booking-info {
        margin: 10px;
    }
}
@media only screen and (max-width: 600px) {
    .confirmation .booking-info .category {
        grid-template-columns: 1fr;
        margin: 3px;
    }
    .confirmation .booking-info .category .category-title-wrapper {
        flex-direction: row;
        justify-content: start;
    }
    .confirmation .category-name {
        text-align: left;
    }
    .confirmation .category input {
        width: 100%;
        margin-right: 10px;
    }
    .confirmation .category textarea {
        height: 40px;
        width: 100%;
        margin-right: 10px;
    }
    .confirmation .buttons {
        grid-template-columns: 1fr;   
    }
}