.confirmation {
    padding: 90px 15px;
    background-color: var(--cream);
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    color: var(--grey);
    max-width: 800px;
    margin: auto;
}
.confirmation .bookingInfo {
    width: 600px;
    background-color: var(--light-trans2);
    box-shadow: 3px 3px 7px 4px rgba(142, 142, 142, 0.169);
    border-radius: 15px;
    margin: 20px;
}
.confirmation h1 {
    color: var(--light);
}
.confirmation .bookingInfo .category {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.confirmation .categoryTitle {
    color: var(--light);
    text-align: right;
    padding-right: 20px;
}
.confirmation .categoryContent {
    text-align: left;
    padding-left: 20px;
}
.confirmation .category p {
    font-size: 15px;
    font-family: var(--font4);
}
.confirmation .category .edit {
    display: flex;
    justify-content: space-between;
    place-items: center;
}
.confirmation .category .editBttn {
    cursor: pointer;
    border: none;
    margin-right: 30px;
}
.confirmation .category input {
    border: 1px solid transparent;
    width: auto;
    padding: 2px;
    font-size: 15px;
    color: var(--grey);
}
.confirmation .category textarea {
    border: 1px solid transparent;
    resize: none;
    padding: 2px;
    width: 220px;
    height: 60px;
    font-size: 15px;
    color: var(--grey);
}
.confirmation .category .inactive {
    background-color: transparent;
}
.confirmation .category .active {
    background-color: var(--cream);
    border: 1px solid var(--grey);
}

.confirmation .category.comment p {
    font-size: 13px;
}
.confirmation .separator {
    height: 0.5px;
    width: 90%;
    background-color: var(--light);
    border: none;
    opacity: 0.5;
}

.confirmation .bttns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.confirmation .editBttn {
    border: none;
    float: right;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--light-trans1);
    transition:  0.2s ease-in-out;
    width: 50px;
}
.confirmation .editBttn:hover {
    color: var(--cream);
    background-color: var(--light);
}
@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {
    .confirmation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .confirmation h2 {
        font-size: 18px;
    }
    .confirmation .bookingInfo {
        width: 90vw;
        margin: 10px;
    }
    .confirmation .bookingInfo .category {
        grid-template-columns: 1fr;
        margin: 3px;
    }
    .confirmation .categoryTitle {
        color: var(--light);
        text-align: left;
        padding-left: 20px;
        font-size: 14px;
    }
    .confirmation .category p {
        font-size: 14px;
    }
    .confirmation .category input {
        font-size: 14px;
    }
    .confirmation .category textarea {
        width: 75%;
        height: 40px;
        font-size: 14px;
    }
}
@media only screen and (max-width: 600px) {
    .confirmation .bttns {
        flex-direction: column;    
        gap: 0px;
    }
}