.popup-message {
    background-color: rgba(255, 255, 255, 0.957);
    position: fixed;
    top: 50%;
    right: 40%;
    transform: translate(50%, 50%);
    z-index: 1000;
    min-width: 300px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    opacity: 0;
    transition: 0.5s ease-in-out;
    padding: 15px;
    box-shadow: 1px 1px 10px 3px rgba(175, 175, 175, 0.169);
}
.popup-message.active {
    right: 50%;
    opacity: 0.9;
}
.popup-message.active:hover {
    opacity: 1;

}
.popup-message .icon {
    position: absolute;
    left: 0;
    margin: 5px;
}
.popup-message .text {
    font-size: 15px;
    font-weight: 600;
    margin: 0 20px;
}
.popup-message .close-button {
    position: absolute;
    right: 0;
    margin: 5px;
    cursor: pointer;
}