.booking-search {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    place-items: center;
}

.booking-search .search-handler {
    background-color: var(--background);
    box-shadow: 3px 3px 7px 4px rgba(142, 142, 142, 0.169);
    border-radius: 3px;
    border: 1px solid var(--grey-light);
    margin: 20px;
    padding: 20px;
}

.booking-search .search-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}
.booking-search .search-title svg {
    margin-right: 8px;
}
.booking-search .search-handler .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.booking-search .search-handler .form .input {
    border: 1px solid var(--grey-light);
    padding: 4px;
    margin: 10px 0;
    width: 70%;
    font-size: 15px;
    text-align: center;
}
.booking-search .message p {
    margin-top: 0px;
    font-size: 13px;
}

.booking-search .message a {
    text-decoration: underline;
}
.booking-search .message a:hover {
    background-color: var(--light-trans1);
}
.booking-search .message .errorMsg {
    color: var(--red);
    font-size: 11px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}


@media only screen and (max-width: 900px) {

}

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 400px) {
}
