.confirmation {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: var(--light-trans2);
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    color: var(--grey);
}
.confirmation .bookingInfo {
    width: 60vw;
    background-color: var(--cream);
    border-radius: 15px;
    margin: 20px;
}
.confirmation .bookingInfo .tourDetail {
    font-size: 13px;
    text-align: left;
}
.confirmation h1 {
    color: var(--light);
    font-family: var(--font2);
}
.confirmation .bookingInfo .category {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
}

.confirmation .categoryTitle {
    color: var(--light);
}
.confirmation .category p {
    font-family: var(--font4);
}
.confirmation .category .edit {
    display: grid;
    place-items: center;
}
.confirmation .category input {
    border: none;
    width: 200px;
    text-align: center;
}
.confirmation .category textarea {
    border: none;
    resize: none;
    width: 220px;
    height: 60px;
    
}
.confirmation .category .inactive {
    background-color: var(--cream);
}
.confirmation .category .active {
    background-color: white;
}
.confirmation .category button {
    cursor: pointer;
    border: none;
    margin-top: 10px;
}
.confirmation .category.comment p {
    font-size: 13px;
}
.confirmation .separator {
    height: 0.5px;
    width: 90%;
    background-color: var(--light);
    border: none;
    opacity: 0.5;
}

.confirmation .bttns {
    display: flex;
    gap: 20px;
}
.confirmation .bttns button {
    background-color: var(--dark);
    color: white;
    width: 250px;
    min-height: 40px;
    margin-top: 20px;
    padding-top: 5px;
    border-radius: 6px;
    border: none;
    font-size: 10px;
}
.confirmation .bttns button:hover {
    cursor: pointer;
    background-color: var(--light);
    transition: 0.2s ease-in;
}
.confirmation .bttns a {
    text-decoration: none;
    color: var(--cream);
}

@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {
    .confirmation {
        display: flex;
        flex-direction: column;
    }
    .confirmation .bookingInfo {
        width: 90vw;
    }
}
@media only screen and (max-width: 600px) {
    .confirmation .bookingInfo .category {
        grid-template-columns: 1fr;
        margin: 3px;
    }
    .confirmation .bttns {
        flex-direction: column;    
        gap: 0px;
    }
}