.booking {
    padding-top: 100px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.booking .section {
    width: 90%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
}
.booking .info {
    width: 100%
}
.booking .info h3 {
    font-size: 25px;
    margin: 10px 0;
}
.booking .info h4 {
    font-size: 14px;
    font-weight: 500;
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
}
.booking .info svg {
    margin: 0 5px;
}

.booking .login-form {
    padding-bottom: 30px;
}
.booking .loginBttn {
    margin-bottom: 25px;
}
.booking .info {
    background-color: var(--background);
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    padding: 20px 0;
    border-radius: 3px;
    box-shadow: 3px 3px 7px 4px rgba(142, 142, 142, 0.169);
    padding: 20px;
}
.booking .info .booking-login {
    margin: 10px 0;
    cursor: pointer;
}
.booking .info .booking-login .login-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.booking .guest-form {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    align-items: center;
    row-gap: 15px;
    padding: 5px;
    font-size: 14px;
}

.booking .guest-form label {
    font-weight: 600;
    text-align: right;
    margin-right: 15px;
}
.booking .guest-form .input {
    padding: 4px;
    border: 1px solid var(--grey-light);
}
.booking .guest-form .comment {
    height: 100px;
    resize: none;
}

.booking a {
    text-decoration: none;
    color: var(--grey);
    font-weight: 500;
}
.booking .payment-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.booking .summary-display {
    margin: 0 auto;
}


@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 1000px) {
    .booking .section {
        display: flex;
        flex-direction: column;
    }
    .booking .summary-display {
        width: 100%;
        margin: auto;
    }
}
@media only screen and (max-width: 600px) {
}