.booking-detail {
    background-color: var(--light-trans2);
    margin: 15px;
    width: 80vw;

    max-width: 630px;
    border-radius: 10px;
    font-family: var(--font4);
    box-shadow: 2px 2px 4px 2px rgba(142, 142, 142, 0.169);
    cursor: pointer;

}
.booking-detail .booking-ref {
    color: var(--grey);
}

.booking-detail .booking-ref h3 {
    font-weight: 600;
    font-size: 18px;
}
.booking-detail .editBttn {
    border: none;
    float: right;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--light-trans1);
    transition:  0.2s ease-in-out;
    width: 50px;
    margin: 10px;
}
.booking-detail .editBttn:hover {
    color: var(--cream);
    background-color: var(--light);
}
.booking-detail .detail {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: 1fr 1.3fr;

    max-height: 0;
    opacity: 0;
    transition: max-height 300ms ease, opacity 300ms ease;
    overflow: hidden;
}
.booking-detail .detail.active {
    max-height: 1000px;
    opacity: 1;
    transition: max-height 600ms ease, opacity 200ms ease;
}
.booking-detail h4 {
    font-size: 14px;
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: underline;
}
.booking-detail h4 svg {
    margin-right: 5px;
}
.booking-detail .detail p {
    font-size: 14px;
}
.booking-detail .booking-ref {
    display: flex;
    justify-content: center;
    align-items: center;
}
.booking-detail .booking-ref svg {
    padding-right: 20px;
    padding-left: 20px;
}
.booking-detail .booking-ref .caret {
    margin-left: auto;
}
.booking-detail .tour-info p {
    font-size: 13px;
    color: var(--grey);
}
.booking-detail .separator {
    height: 0.5px;
    width: 100%;
    background-color: var(--light);
    border: none;
}

@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {
    .booking-detail {
        width: 90vw;
    }
}
@media only screen and (max-width: 600px) {
    .mypage .Bttns {
        display: block;
    }

    .booking-detail .detail {
        display: block;
    }
}