.booking {
    width: 100%;
    display: grid;
    place-items: center;
    padding-bottom: 80px;
    color: var(--dark);
}

.bookingInfo h3 {
    font-family: var(--font2);
    font-size: 25px;
    margin-top: 5px;
}
.bookingInfo p {
    font-size: 14px;
    color: var(--dark);
    margin: 3px;
    padding: 5px;
    color: var(--light);
}

.bookingInfo .tourSummary {
    background-color: var(--light-trans2);
    width: 80%;
    max-width: 600px;
    margin-top: 80px;
    padding: 25px;
    border-radius: 15px;
    padding-bottom: 50px;
}

.tourSummary a {
    font-size: 11px;
    display: flex;
    place-items: center;
}
.tourSummary a:hover {
    color: var(--light);
}
.tourSummary svg {
    margin-right: 5px;
}
.booking .info {
    background-color: var(--light-trans2);
    width: 80%;
    max-width: 600px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    padding: 20px;
    padding-bottom: 30px;
    margin: 20px;
    border-radius: 15px;
}


.booking .infoInput {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    row-gap: 15px;
}
.infoInput .commentInput {
    width: 350px;
    height: 100px;
    border: none;
    resize: none;
}
.infoInput input {
    width: 200px;
    height: 23px;
    border: none;
}
.infoInput label {
    font-size: 13px;
    font-weight: 600;
    color: var(--light);
}

.booking .bookBttn {
    background-color: var(--dark);
    color: white;
    width: 250px;
    min-height: 40px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
    border: none;
    font-size: 10px;
}
.booking .bookBttn:hover {
    cursor: pointer;
    background-color: var(--light);
    transition: 0.2s ease-in;
}

.bookingInfo .separator {
  height: 0.5px;
  width: 80%;
  background-color: var(--light);
  border: none;
}

.booking a {
    text-decoration: none;
    color: var(--grey);
    font-weight: 500;
}
