.bookingSearch {
    min-height: 80vh;
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    place-items: center;
    color: var(--grey);
}

.bookingSearch .searchHandler {
    padding: 25px;
    font-size: 15px;
    font-family: var(--font2);
    background-color: var(--light-trans2);
    border-radius: 15px;
    margin: 30px;
    box-shadow: 3px 3px 7px 4px rgba(142, 142, 142, 0.169);
}

.bookingSearch .bookingReferenceInput {
    width: 75%;
    height: 40px;
    font-size: 25px;
    text-align: center;
    color: var(--light);    
}
.bookingSearch .searchTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookingSearch p {
    margin-top: 0px;
    font-size: 13px;
}
.bookingSearch h1 {
    display: flex;
    font-size: 28px;
}
.bookingSearch svg {
    margin-right: 8px;
}
.bookingSearch a {
    text-decoration: none;
    color: var(--grey);
    font-weight: 500;
}
.bookingSearch a:hover {
    background-color: var(--light-trans1);
}

.bookingSearch .findBttn {
    background-color: var(--dark);
    color: white;
    min-width: 80%;
    min-height: 40px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
    border: none;
    font-size: 10px;
}

.bookingSearch .findBttn:hover {
    cursor: pointer;
    background-color: var(--light);
    transition: 0.2s ease-in;
}
.bookingSearch .errorMsg {
    color: var(--red);
    font-family: var(--font4);
    font-size: 10px;
}

@media only screen and (max-width: 900px) {
    .bookingSearch h1 {
        font-size: 23px;
    }
    .bookingSearch .bookingReferenceInput {
        width: 75%;
        height: 30px;
        font-size: 20px;
        text-align: center;
        color: var(--light);    
    }
}

@media only screen and (max-width: 600px) {
    .bookingSearch {
        width: 90vw;
        margin: auto;
    }
    .bookingSearch h1 {
        font-size: 18px;
    }
    .bookingSearch svg {
        width: 25px;
    }
    .bookingSearch .bookingReferenceInput {
        width: 60%;
        height: 25px;
        font-size: 15px;
    }
}

@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 400px) {
}
