.cart {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart h1 {
    padding-top: 100px;
    font-size: 30px;
    font-family: var(--font2);
}

.cart p {    
    font-family: var(--font3);
    font-weight: 300;
}

.cart h2 {    
    font-family: var(--font3);
    font-weight: 100;
}

.cartItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkout .totalAmount {
    padding-top: 20px;
    font-family: var(--font3);
    color: var(--navy);
    font-size: 20px;
}

.bttns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    column-gap: 20px;
    padding-bottom: 30px;
}

.moerTourBttn {
    justify-self: end;
}
.checkoutBttn {    
    justify-self: start;
}

.bttns button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--navy);
    color: white;
    min-width: 180px;
    min-height: 40px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
    border: none;
    font-size: 10px;
}

.bttns button:hover {
    cursor: pointer;
    background-color: rgb(128, 113, 98);
    transition: 0.2s ease-in;
}
