.cartSummary {
    background-color: rgba(255, 255, 255, 0.957);
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
    width: 380px;
    z-index: 100;
}
.cartSummary.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 500ms ease;
}
.cartSummary.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 500ms ease;
}

.cartSummary .closeCartSummaryBttn {
    background-color: transparent;
    color: var(--dark);
    border: none;
    float: right;
}
.cartSummary .closeCartSummaryBttn:hover {
    cursor: pointer;
    color: var(--light);
    transition: 0.2s ease-in;
}

.cartSummaryItem p {
    font-size: 14px;
    color: var(--grey);
}

.cartSummary h1 {
    font-size: 25px;
    font-family: var(--font2);
}

.cartSummary a {
    text-decoration: none;
}

.goToBasketBttn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    color: white;
    min-width: 90px;
    min-height: 30px;
    margin: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
    border: none;
    font-size: 10px;
}

.goToBasketBttn:hover {
    cursor: pointer;
    background-color: var(--light);
    transition: 0.2s ease-in;
}

.goToToursBttn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    color: white;
    min-width: 90px;
    min-height: 30px;
    margin: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
    border: none;
    font-size: 10px;
}

.goToToursBttn:hover {
    cursor: pointer;
    background-color: var(--light);
    transition: 0.2s ease-in;
}

