.cartSummary {
    background-color: white;
    position: fixed;
    top: 80px;
    right: 20px;
    padding: 30px;
    width: 200px;
}

.cartSummary.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 500ms ease;
}

.cartSummary.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 500ms ease;
}

.cartSummary .closeCartSummaryBttn {
    background-color: transparent;
    border: none;
    float: right;
}

h1 {
    font-size: 18px;
}