.cart {
    padding-top: 100px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart h1 {
    font-size: 30px;
    margin: 10px 0;

}
.cart h2 {
    font-weight: 100;
}

.cart-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkout .totalAmount {
    padding-top: 20px;
    font-size: 20px;
}

.cart .logo {
    width: 170px;
    display: block;
    margin: 30px 0;
}

.cart .bttns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    column-gap: 10px;
    margin: 20px 0;
}


@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {

}
@media only screen and (max-width: 600px) {
    .cart .bttns {
        grid-template-columns: 1fr;

    }
}