.cartItem {
    width: 550px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    color: var(--grey);
}
.cartItem img {
    width: 200px;
    height: 170px;
    border-radius: 12px 0px 0px 12px;
    object-fit: cover;
}

.cartItem .description {
    width: 350px;
    height: 150px;
    border-radius: 0px 12px 12px 0px;
    background-color: var(--light-trans2);
    padding: 10px;
    padding-left: 20px;
    text-align: left;
}
.cartItem .description .name {
    height: 20px;
    font-family: var(--font4);
    color: var(--grey);
    vertical-align: middle;
    font-weight: 600;
    font-size: 16px;
}

.cartItem .detail {
    line-height: 0.6;
}

.deleteBttn {
    background-color: transparent;
    color: var(--light);
    border: none;
    float: right;
}

.deleteBttn:hover {
    cursor: pointer;
    color: var(--dark);
    transition: 0.2s ease-in;
}

.cartItem hr {
  height: 0.5px;
  background-color: var(--light);
  border: none;
}