.cartSummary {
    background-color: rgba(255, 255, 255, 0.966);
    position: fixed;
    top: 70px;
    right: 10px;
    padding: 30px;
    width: 300px;
    overflow: scroll;
}
.cartSummary.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 500ms ease;
}
.cartSummary.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 500ms ease;
}

.cartSummary .closeCartSummaryBttn {
    background-color: transparent;
    color: var(--taupe);
    border: none;
    float: right;
}
.cartSummary .closeCartSummaryBttn:hover {
    cursor: pointer;
    color: var(--navy);
    transition: 0.2s ease-in;
}

.cartSummaryItem p {
    font-size: 15px;
    font-family: var(--font3);
    font-weight: 200;
}

.cartSummary .cartSummaryTotal {    
    font-family: var(--font3);
}

.cartSummary h1 {
    font-size: 18px;
    font-family: var(--font2);
}

.cartSummary a {
    text-decoration: none;
}

.goToBasketBttn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--navy);
    color: white;
    min-width: 180px;
    min-height: 40px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
    border: none;
    font-size: 10px;
}

.goToBasketBttn:hover {
    cursor: pointer;
    background-color: rgb(128, 113, 98);
    transition: 0.2s ease-in;
}

