.contact .pageContent {
    margin: auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .pageContent p {
    font-size: 14px;
    font-weight: 300;
}

.contact .page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
    margin: 30px 0;
}
.contact .page-wrapper h3 {
    font-size: 23px;
    font-weight: 500;
}
.contact .page-wrapper .contact-methods {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    row-gap: 35px;
    place-items: center;
    margin: 60px;
}
.contact .page-wrapper .contact-methods .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 70px;
}
.contact .contacts a {
    text-decoration: underline;
    color: var(--grey);
    font-size: 12px;
    letter-spacing: 0.08em;
}
.contact .contact a:hover {
    color: var(--light);
    transition: 0.2s ease-in-out;
}
.contact .email {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact .email svg {
    margin-left: 5px;
    cursor: pointer;
}

.contact .right {
    justify-self: start;
    background-color: var(--background);
    padding: 20px 60px;
    border-radius: 3px;
    border: 1px solid var(--grey-light);
    box-shadow: 3px 3px 7px 4px rgba(142, 142, 142, 0.169);
    display: grid;
    justify-content: center;
    align-items: center;
}
.contact .right .contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.contact .right input {
    width: 100%;
    padding: 4px;
    margin: 5px;
    border: 1px solid var(--grey-light);
    font-size: 14px;
}
.contact .right textarea {
    width: 100%;
    height: 120px;
    resize: none;
    border: none;
    padding: 4px;
    margin: 5px;
    border: 1px solid var(--grey-light);
    font-size: 14px;
}
.contact .right .sent-msg {
    width: 100%;
    height: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {
    .contact .pageContent {
        width: 95%;
    }
    .contact .page-wrapper {
        grid-template-columns: 1fr;
    }
    .contact .page-wrapper .left {
        justify-self: center;
        padding: 0px;
    }    
    .contact .right {
        justify-self: center;
    }
}
@media only screen and (max-width: 600px) {

}