.footer {
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    border-top: 1px solid var(--taupe);
    font-family: var(--font3);
    color: var(--taupe);
}
.footer p {
    font-weight: 300;
    font-size: 13px;
}
.footerContent {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}
.footerLinks {
    display: grid;
    justify-content: center;
    row-gap: 15px;
    font-weight: 400;
}
.footerLinks a {

    cursor: pointer;
    color: var(--taupe);
    text-decoration: none;
    letter-spacing: 0.05em;
}

.footerLinks a:hover {
    color: var(--navy);
    transition: 0.2s ease-in-out;
}
.socialMedia {
    align-self: flex-end;
}
.socialMedia svg {
    color: var(--taupe);
    margin: 20px;
    font-size: 70px;
    cursor: pointer;
}
.contactDetails {
    font-weight: 600;
    font-size: 16px;
}
.contactDetails svg {
    color: rgb(32, 214, 32);

    cursor: pointer;
    border: none;
}