.home {
    display: grid;
    place-items: center;
}
.home .title {
    margin-bottom: -40px;
    text-shadow: -0.5px -0.5px 0 var(--dark), 0.5px -0.5px 0 var(--dark), -0.5px 0.5px 0 var(--dark), 0.5px 0.5px 0 var(--dark);
}

.home .Logo {
    width: 200px;
}

.home .pageSummary {
    font-family: var(--font);
    font-weight: 200;
    max-width: 700px;
    grid-template-columns: 1fr;
}

.home .pageSummary h2 {
    color: var(--light);
    font-family: var(--font2);
    font-weight: 800;
}

.home .pageSummary p {
    font-size: 14px;
    color: var(--grey);
}

.img1 {
    width: 100%;
    height: 500px;
    object-fit: cover;
    padding-top: 20px;
}
.img2 {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: top;
    padding-top: 20px;
}
.home a {
    text-decoration: none;
    color: var(--grey);
    font-weight: 500;
}

.home .separator {
    height: 0.5px;
    width: 90%;
    background-color: var(--light);
    border: none;
    opacity: 0.2;
    margin-top: 50px;
    margin-bottom: 50px;
}


@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {
    .home img {
        height: 150px;
    }
    .pageSummary h2 {
        font-size: 20px;
    }
    .pageSummary p {
        font-size: 12px;
        color: var(--grey);
    }
    .home .separator {
        margin: 30px;
    }
    .home .service p {
        font-size: 12px;
    }
    .home .service .separator {
        margin-top: 10px;
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 600px) {
}