.home {
    display: grid;
    flex-direction: column;
    justify-self: center;
    width: 100%;
    margin: 0;
    padding: 0;
}
.home .logo {
    max-width: 830px;
    margin: auto;
}
.home .Logo {
    width: 200px;
}
.home .pageContent {
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home .pageContent .content {
    padding-top: 30px;
    padding-bottom: 30px;
}
.home .pageContent .line {
    height: 0.8px;
    width: 100%;
    background-color: var(--grey);
    border: none;
}
.home .pageContent .outstory {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 50px;
    margin-top: 50px;
}
.outstory .images {
    position: relative;
}
.outstory .texts {
    margin: 40px;
}
.outstory .texts h2 {
    text-align: left;
}
.outstory .texts p {
    font-size: 15px;
    text-align: left;
    line-height: 20px;
}
.outstory .img1 {
    width: 270px;
    object-fit: cover;
    position: absolute;
}
.outstory .img2 {
    padding-top: 120px;
    padding-left: 240px;
    width: 270px;    
    object-fit: cover;
}

.home .pageContent .aboutUs {
    background-color: var(--light-trans2);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10vw;
    padding-right: 10vw;

}
.aboutUs .texts p {
    font-size: 42px;    
    font-weight: 600;
    letter-spacing: 0.2rem;
    line-height: 60px;
    color: var(--light);
    transition: color 3s ease-in-out;
}

.aboutUs .texts.colorChanged p {
    color: var(--grey);
}

.home .pageContent .terms {    
    display: grid;
    justify-content: center;
}
.home .pageContent .terms .refund {
    border: 1px solid rgba(0, 0, 0, 0.138);
}
.home .pageContent .services {
    display: grid;
    justify-content: center;
}
.home .pageContent .services .service {
    border: 1px solid rgba(0, 0, 0, 0.138);
    padding: 10px;
}
.home .pageContent .weather-wrapper{
    display: grid;
    justify-content: center;
}
.weather-wrapper {
    width: 100%;
}

.home .refund {
    background-color: var(--cream);
    border: 1px solid var(--grey);
}
.home .service {
    background-color: var(--cream);
    border: 1px solid var(--grey);
}


@media only screen and (max-width: 1100px) {
    .home .pageContent .outstory {
        grid-template-columns: 1fr;
    }

}
@media only screen and (max-width: 900px) {

    .pageSummary h2 {
        font-size: 20px;
    }
    .pageSummary p {
        font-size: 12px;
        color: var(--grey);
    }

    .aboutUs .texts p {
        font-size: 20px;    
        line-height: 30px;
    }
    .home .service p {
        font-size: 12px;
    }
    .home .logo {
        max-width: 550px;
    }
}
@media only screen and (max-width: 600px) {
    
    .home .logo {
        max-width: 380px;
    }

    .outstory .img1 {
        width: 40vw;
        object-fit: cover;
        position: absolute;
    }
    .outstory .img2 {
        padding-top: 16vw;
        padding-left: 35vw;
        width: 38vw;    
        object-fit: cover;
    }
    .home h2 {
        font-size: 16px;
    }
    .outstory .texts p {
        font-size: 12px;
        text-align: left;
        line-height: 20px;
    }
    .home .terms p {
        font-size: 12px;
    }
    .home .weather p {
        font-size: 12px;
    }
}