.home {
    width: 100%;
}
.tourButton {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.788);
    color: black;
    font-size: 12px;
    font-weight: 600;
    padding: 15px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 35px;
    transition: 0.2s ease-in;
}
.tourButton:hover {
    background-color: white;
    transform: scale(1.03);
}
.tourButton svg {
    margin-left: 5px;
    opacity: 0;
    transition: 0.2s ease-in;
}
.tourButton:hover svg {
    margin-left: 5px;
    opacity: 1;
}



.home .pageContent {
    font-family: var(--font1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 40px;
}
.home .pageContent .content {
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 1400px;
}
.home .pageContent .line {
    height: 0.8px;
    width: 100%;
    background-color: var(--grey);
    border: none;
}
.home .pageContent .outstory {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 650px;
    background-color: ;
}



.outstory .images {
    position: relative;
    margin: 40px;
    background-color: blue;
}
.outstory .texts {
    margin: auto 40px;
}
.outstory .texts h2 {
    text-align: left;
}
.outstory .texts p {
    font-size: 15px;
    text-align: left;
    line-height: 20px;
}
.outstory .img1 {
    width: 270px;
    object-fit: cover;
    position: absolute;
    left: 20px;
}
.outstory .img2 {
    width: 270px;
    object-fit: cover;
    position: absolute;
    top: 130px;
    left: 260px;
}

.home .pageContent .aboutUs {
    background-color: var(--light-trans2);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10vw;
    padding-right: 10vw;

}
.aboutUs .texts p {
    font-size: 42px;    
    font-weight: 600;
    letter-spacing: 0.2rem;
    line-height: 60px;
    color: var(--light);
    transition: color 3s ease-in-out;
}

.aboutUs .texts.colorChanged p {
    color: var(--grey);
}

.home .pageContent .terms {    
    display: grid;
    justify-content: center;
}
.home .pageContent .terms .refund {
    border: 1px solid rgba(0, 0, 0, 0.138);
}
.home .pageContent .services {
    display: grid;
    justify-content: center;
}
.home .pageContent .services .service {
    border: 1px solid rgba(0, 0, 0, 0.138);
    padding: 10px;
}
.home .pageContent .weather-wrapper{
    display: grid;
    justify-content: center;
}
.weather-wrapper {
    width: 100%;
}

.home .refund {
    background-color: var(--cream);
    border: 1px solid var(--grey);
}
.home .service {
    background-color: var(--cream);
    border: 1px solid var(--grey);
}


@media only screen and (max-width: 1100px) {
    .home .pageContent .outstory {
        grid-template-columns: 1fr;
    }

}
@media only screen and (max-width: 900px) {

    .pageSummary h2 {
        font-size: 20px;
    }
    .pageSummary p {
        font-size: 12px;
        color: var(--grey);
    }

    .aboutUs .texts p {
        font-size: 20px;    
        line-height: 30px;
    }
    .home .service p {
        font-size: 12px;
    }
    .home .logo {
        max-width: 550px;
    }
}
@media only screen and (max-width: 600px) {
    .home .logo {
        max-width: 380px;
    }

    .home h2 {
        font-size: 16px;
    }
    .outstory .texts p {
        font-size: 12px;
        text-align: left;
        line-height: 20px;
    }
    .home .terms p {
        font-size: 12px;
    }
    .home .weather p {
        font-size: 12px;
    }
}