.join {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    min-height: 50vh;
}
.join .joinTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.join .joinTitle h2 {
    font-size: 23px;
}
.join svg {
    margin-right: 8px;
}
.join .form {
    background-color: var(--background);
    box-shadow: 3px 3px 7px 4px rgba(142, 142, 142, 0.169);
    border-radius: 3px;
    border: 1px solid black;
    margin: 20px 0;
    padding: 20px 60px;
}
.join .join-form {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    margin: 20px 0;
}
.join .join-form .input {
    border: 1px solid var(--grey-light);
    padding: 4px;
    margin: 5px;
    width: 90%;
    font-size: 15px;
}

.errorMsg {
    color: var(--red);
    font-size: 12px;
}

@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 600px) {


}
