.login {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    place-items: center;
}

.login .loginTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login h2 {
    font-size: 28px;
}
.login svg {
    margin-right: 6px;
}
.login .form {
    background-color: var(--background);
    box-shadow: 3px 3px 7px 4px rgba(142, 142, 142, 0.169);
    border-radius: 3px;
    border: 1px solid var(--grey-light);
    margin: 20px;
    padding: 20px 40px;
}

@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 600px) {
    .login {
        width: 90vw;
        margin: auto;
    }
    .login h2 {
        font-size: 20px;
    }
}