.myaccount {
    padding-top: 100px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.myaccount h1 {
    color: var(--light);
}
.myaccount .information-wrapper {
    background-color: var(--background);
    box-shadow: 3px 3px 7px 4px rgba(142, 142, 142, 0.169);
    border-radius: 3px;
    border: 1px solid var(--grey-light);
    margin: 20px;
    padding: 20px;
}
.myaccount .information-wrapper .information {
    position:relative;
}

.myaccount .account-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px 0;
    margin: 20px 0;
}

.myaccount .categoty-title {
    text-align: right;
    padding-right: 20px;
}
.myaccount .content {
    text-align: left;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    place-items: center;
}
.myaccount .content .input {
    border: 1px solid transparent;
    background-color: transparent;
    color: var(--grey);
    padding: 4px;
    margin-top: 2px;
    margin-bottom: 2px;

}
.myaccount .content .input.edit {
    border: 1px solid var(--grey-light);
    background-color: white;
}
.myaccount .edit-password {
    display: flex;
    flex-direction: column;
}
.myaccount .Bttns {
    display: flex;
}
.myaccount .Bttns button svg {
    margin-left: 6px;
}


@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {

}
@media only screen and (max-width: 600px) {
    .myaccount .Bttns {
        display: block;
    }
}