.mypage {
    padding-top: 100px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--grey);
}

.mypage .myInfo {
    margin-bottom: 40px;
}
.mypage h1 {
    color: var(--light);
}

.mypage .Bttns {
    display: grid;
    grid-template-columns: 1fr 1fr;
}



@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {

}
@media only screen and (max-width: 600px) {
    .mypage .Bttns {
        grid-template-columns: 1fr;
    }
}