.mypage {
    padding-top: 100px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.mypage .booking-list {
    background-color: var(--background);
    box-shadow: 3px 3px 7px 4px rgba(142, 142, 142, 0.169);
    border-radius: 3px;
    border: 1px solid var(--grey-light);
    margin: 20px;
    padding: 20px;
}

.mypage .myInfo {
    margin-bottom: 40px;
}
.mypage h1 {
    color: var(--light);
}
.mypage .myInfo .buttons {
    display: flex;
}
.mypage .booking-empty {
    margin: 10px 0;
}
.mypage .booking-empty p {
    margin: 20px 0;
    font-size: 12px;
    font-weight: 500;
}
.mypage .bookings .buttons {
    display: grid;
    grid-template-columns: 1fr;
}
.mypage .tour-recommendation-wrapper {
    width: 100%;
}



@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {

}
@media only screen and (max-width: 600px) {
    .mypage .buttons {
        grid-template-columns: 1fr;
    }
}