.navbar {
    font-family: var(--font3);
}

.backgroundGradient {
    width: 100%;
    height: 110px;
    position: fixed;
    top: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.682), transparent);
    opacity: 70%;
}

.links {
    width: 100%;
    height: 60px;    
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid var(--cream);
    transition: 0.5s ease-in-out;
}

.links .menuBttn {
    position: fixed;
    left: 50px;
    top: 10px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.links:hover {
    background-color: var(--cream);
    color: var(--navy);
    border-bottom: 1px solid black;
    transition: 0.2s ease-in-out;
}

.links:hover a {
    transition: 0.2s ease-in-out;
    color: var(--navy);
}

.links:hover button {
    transition: 0.2s ease-in-out;
    color: var(--navy);
}

.menuBttn.menubar:hover {
    color: var(--cream);
}

.links a {
    margin-right: 40px;
    font-size: 15px;
    text-decoration: none;
    border-bottom: transparent 0.125em solid;
    color: var(--cream);
    letter-spacing: 0.2em;
}

.links a:hover {
    color: var(--taupe);
    border-bottom: var(--taupe) 0.125em solid;
    transition: 0.2s ease-in-out;
}

.links button {
    color: var(--cream);
    cursor: pointer;
}

.links button:hover {
    color: var(--taupe);
    transition: 0.2s ease-in-out;
}

.cartSummaryBttn {
    background-color: transparent;
    border: none;
    margin-right: 40px;
    width: 40px;
    height: 40px;
}

.navbarWrapper.active .links{
    top: -80px;
}
.navbarWrapper.menuOpen .links{
    top: -80px;
}

.menuContent {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 370px;
    left: -400px;
    transition: 0.5s ease-in-out;
    background-color: var(--cream);
    opacity: 0;
    border-right: 1px solid var(--navy);
}
.menuContent.open {
    opacity: 1;
    left: 0px;
}

.menuContent button {
    float: right;
    padding: 10px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.menuContent .menuLinks {
    padding-top: 50px;
    padding-left: 30px;
    display: grid;
    align-items: center;
}

.menuContent .menuLinks a{
    padding-top:20px;
    font-size: 27px;
    font-weight: 500;
    color: var(--navy);
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.2em;
}

.menuContent .menuLinks a:hover{
    color: var(--taupe);
    transition: 0.2s ease-in-out;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop);
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 900px) {

}
  
@media only screen and (max-width: 600px) {
    .links a {
        display: none;
    }
}
  
@media only screen and (min-width: 600px) {

}
@media only screen and (min-width: 400px) {

}