.refund {
    padding: 10px;
    margin: 20px;
    border-radius: 15px;
    max-width: 600px;
    background-color: rgba(133, 133, 133, 0.047);
    border-radius: 20px;
    color: var(--dark);
    font-weight: 200;
}
.refund p {
    font-size: 14px;
}
.refund li {
    text-align: left;
    font-size: 12px;
}