.scrollToTop {
    width: 100%;
    display: flex;
    justify-content: center;
}

.scrollToTop .scrollBttn {
    background-color: transparent;
    border: none;
    color: var(--cream);
    position: fixed;
    top: -80px;
    transition: 0.2s ease-in-out;
}

.scrollBttn.active {
    top: 20px;
}

.scrollBttn:hover {
    cursor: pointer;
}
