.scrollToTop {
    width: 100%;
    display: flex;
    justify-content: center;
}

.scrollToTop .scrollBttn {
    background-color: transparent;
    border: none;
    color: var(--cream);
    opacity: 0;
    position: fixed;
    top: -50px;
    transition: 0.5s ease-in-out;
}

.scrollBttn.active {
    top: 20px;
    opacity: 1;
}

.scrollBttn:hover {
    cursor: pointer;
}
