.scrollToTop {
    width: 100%;
    display: flex;
    justify-content: center;
}

.scrollToTop .scrollBttn {
    background-color: transparent;
    border: none;
    color: var(--cream);
    opacity: 0;
    position: fixed;
    top: 10px;
    transition: 0.5s ease-in-out;
    pointer-events: none;
}

.scrollBttn.active {
    top: 20px;
    opacity: 1;
    pointer-events: auto;
}

.scrollBttn:hover {
    cursor: pointer;
}
