.scrollDown {
    width: 100%;
    display: flex;
    justify-content: center;
}

.scrollDown .scrollDownBttn {
    background-color: transparent;
    border: none;
    color: var(--cream);
    opacity: 0;
    position: fixed;
    bottom: 30px;
    transition: 0.5s ease-in-out;
    pointer-events: none;
}

.scrollDownBttn.active {

    opacity: 1;
    pointer-events: auto;
}

.scrollDownBttn:hover {
    cursor: pointer;
}
