.tours {
    width: 100%;
    padding-bottom: 50px;
}

.tours .toursList {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    padding: 40px 0;
    gap: 3rem;
}

.tours .filterHandler {
    color: black;
    width: 90vw;
}

.tours .filterHandler .filter {
    font-size: 14px;
    margin-right: 20px;
    font-family: var(--font3);
    color: var(--grey);
}
.tours .filter-category {
    cursor: pointer;
}
.tours .filter-category.active {
}

.tours .tour-by-category {
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
}
.tour-list-wrapper {
    max-width: inherit;
    overflow: auto;
}
.tours .tour-list {
    display: flex;
    margin: auto;
}

.tours .separator {
    height: 0.5px;
    width: 85%;
    background-color: var(--light);
    border: none;
    opacity: 0.4;
}
input[type=checkbox]{
    accent-color: var(--dark);
}  

@media only screen and (max-width: 1300px) {
    .tours .toursList {
        grid-template-columns: 1fr 1fr;
        margin: auto;
    }
}
@media only screen and (max-width: 900px) {
    .tours .toursList {
        grid-template-columns: 1fr;
    }
    .tours .filters {
        display: grid;
    }
}
@media only screen and (max-width: 600px) {

}