.tour-recommendations {
    margin-top: 50px;
}

.tour-recommendations-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tour-recommendations-wrapper .directionBttn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.recommendations {
    display: flex;
}
.recommendation {
    width: 250px;
    height: 250px;
    margin: 15px;
    background-color: white;
    border-radius: 8px;
    transition: transform 300ms ease 100ms;
    cursor: pointer;
    box-shadow: 3px 3px 7px 4px rgba(142, 142, 142, 0.169);

}

.recommendations:hover .recommendation {
    transform: translateX(-2%);
}

.recommendation:hover ~ .recommendation {
    transform: translateX(2%);
}
.recommendation:hover {
    transform: scale(1.1) !important;
}

.recommendations img {
    width: 100%;
    height: 60%;
    border-radius: 8px 8px 0px 0px;
}
.recommendations .tourName {
    height: 20px;
    padding: 5px;
    font-size: 15px;
    font-weight: 500;
    color: var(--dark);
    font-family: var(--font4);
}

.recommendations .selectBttn {
    background-color: transparent;
    color: var(--grey);
    min-width: 15%;
    min-height: 20px;
    margin-top: 5px;
    padding-top: 0px;
    padding-bottom: 5px;
    border-radius: 6px;
    border: none;
    font-size: 10px;
    text-decoration: underline;
}

.recommendations .selectBttn:hover {
    cursor: pointer;
    background-color: transparent;
    transition: 0.2s ease-in;
}


@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {

    .recommendations {
        display: block;
        height: 278px;
        overflow: hidden;
    }

    .recommendations:hover .recommendation {
        transform: translateX(0%);
    }

    .recommendation:hover ~ .recommendation {
        transform: translateX(0%);
    }
    .recommendation {
        box-shadow: none;
    }
}
@media only screen and (max-width: 600px) {
    .tour-recommendations h3 {
        font-size: 14px;
    }
}