.tours {
    width: 100%;
    padding-bottom: 50px;
}

.tours .search {
    width: 100%;
    max-width: 400px;
    position: relative;
}
.tours .search .input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    border-radius: 50px;
    border: 2px solid var(--grey-light);
    position: relative;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--background);
    margin: 10px auto;
    overflow: hidden;
}
.tours .search .input-wrapper .input {
    background-color: transparent;
    padding: 0 10px;
    text-align: start;
    width: 100%;
    height: 100%;
}
.tours .search svg {
    margin: 0 5px;
}
.tours .search .search-result {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: start;
    position: absolute;
    z-index: 10;
    background-color: white;
    border-radius: 3px;
    padding: 5px 10px;
    min-width: 100%;
}
.tours .search .search-result.hidden {
    opacity: 0;
}
.tours .search .search-result .item {
    width: 100%;
}
.tours .search .search-result .item .detail {
    display: flex;
    text-align: left;
}
.tours .search .search-result .item img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 10px;
}

.tours .list-wrapper {
    position: relative;
    display: flex;
}
.tours .tour-by-category, .tours .list-all {
    max-width: 90vw;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tours .view-option {
    display: flex;

}
.tours .filter-wrapper {
    width: 100%;
    display: flex;
    gap: 20px;
}
.tours .filter-list {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.tours .filter-list .filter-button {
    border-radius: 50px;
    padding: 7px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(227, 227, 227);
    font-size: 14px;
    position: relative;

}
.tours .filter-list .filter-button span {
    margin-left: 6px;
    pointer-events: none;
}
.tours .filter-list .filter-button.selected {
    background-color: var(--light);
    color: white;
}
.tours .filter-list .filter-button .language-list {
    position: absolute;
    top: 30px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    display: none;
    z-index: 10;
    padding: 10px 20px;
    border-radius: 3px;
}
.tours .filter-list .filter-button .language-list .language {
    display: flex;
}
.tours .filter-list .filter-button .language-list.active {
    display: block;
}
.tours .filter-list .filter-button .language-list .language {
    gap: 0 10px;
}
.tours .filter-list .filter-button .language-list .reset-button {
    font-size: 11px;
    color: var(--grey);
    text-decoration: underline;
    margin: 5px 0;
}
.tours .list-all .tour-number {
    width: 100%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0;
}
.tours .list-all .tour-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.tours .list-by-category .category-name {
    font-size: 30px;
    font-weight: 600;
    text-align: start;
    padding: 10px;
}
.tours .list-by-category .swiper {
    max-width: 1100px;
    height: 100%;
    --swiper-navigation-color: var(--dark);
    --swiper-navigation-size: 20px;
}
.tours .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tours .swiper-pagination .swiper-pagination-bullet  {
    width: 50px;
    height: 1px;
    background-color: var(--dark);
    border-radius: 0;
}
.tours .separator {
    height: 1px;
    width: 100%;
    background-color: var(--grey);
    border: none;
    opacity: 0.1;
    margin: 5px 0;
}

@media only screen and (max-width: 1200px) {
    .tours .swiper {
        max-width: 750px;
    }
    .tours .list-all .tour-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .tours .filter-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 900px) {
    .tours .list-all .tour-list {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 700px) {
    .tours .swiper {
        max-width: 400px;
    }
    .tours .list-all .tour-list {
        grid-template-columns: 1fr;
    }
}