.tourInfo {
    background-color: rgb(245, 245, 245);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80%;
    margin: 10px;
    overflow: scroll;
    align-items: center;
}
.tourInfo .title {
    position: sticky;
    align-items: center;
    top: 0px;
    width: 100%;
    height: 30px;
    background-color: rgba(216, 207, 188, 0.279);
    color: white;
}


.tourInfo .tourInfoHandler {
    text-align: left;
    padding: 10%;
}

.tourInfo p {
    font-size: 15px;
    display: flex;
    margin: 8px;
    font-weight: 600;
}

.tourInfo h2 {
    width: 100%;
    background-color: beige;
}

.tourInfo .countHandler {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.tourInfo .dateHandler {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.tourInfo .MuiFormControl-root {
    width: 140px;
    height: 15px;
}
.MuiFormControl-root span {
    font-size: 13px;
}

.addToBasketBttn {
    place-items: center;
    background-color: rgb(30, 40, 68);
    color: white;
    min-width: 180px;
    min-height: 40px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
    border: none;
    font-size: 10px;
}

.addToBasketBttn:hover {
    cursor: pointer;
    background-color: rgb(128, 113, 98);
    transition: 0.2s ease-in;
}
