.weather {
    max-width: 800px;
}
.weather img {
    width: 150px;
}
.todayWeather, .averageWeather {
    padding-top: 10px;
}
.todayWeather .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.averageWeather .monthlyWeather {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.averageWeather .month {
    background-color: var(--cream);
    box-shadow: 2px 2px 7px 3px rgba(142, 142, 142, 0.169);
    margin: 8px;
    border-radius: 15px;
    width: 100px;
}
.averageWeather .month-text {
    font-size: 14px;
}
.averageWeather .temperature {
    font-size: 20px;
    font-weight: 500;
}
.averageWeather .rain {
    font-size: 10px;
}
.weather h3 {
    font-weight: 400;
}


@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {
    .averageWeather .monthlyWeather {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 600px) {
    .averageWeather .monthlyWeather {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .averageWeather .temperature {
        font-size: 13px;
    }
    .averageWeather .rain {
        font-size: 8px;
    }
}