.navbar {
    font-family: var(--font3);
    z-index: 10;
}
.navbar .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.navbar .background-gradient {
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.493), transparent);
    opacity: 70%;
}

.navbar .navbar-wrapper.active .links{
    top: -80px;
}
.navbar .navbar-wrapper.menuOpen .links{
    top: -80px;
}

.navbar .navbar-wrapper .links {
    width: 100%;
    height: 60px;    
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid var(--cream);
    transition: 0.5s ease-in-out;
    color: var(--cream);

}
.navbar .navbar-wrapper .links:hover {
    background-color: var(--cream);
    color: var(--dark);
    border-bottom: 1px solid black;
    transition: 0.2s ease-in-out;
}

.navbar .navbar-wrapper .links .link-icon {
    cursor: pointer;
}
.navbar .navbar-wrapper .links .link-icon:hover {
    color: var(--light);
}

/* hamburger button */
.navbar .navbar-wrapper .links .menu-button {
    position: fixed;
    left: 3vw;
    top: 13px;
}
.navbar .navbar-wrapper .links .menu-button.navbar-inactive:hover {
    color: var(--cream);
}

/* link and buttons */
.navbar .navbar-wrapper .links:hover .link, .navbar .navbar-wrapper .links:hover button {
    transition: 0.2s ease-in-out;
    color: var(--dark);
}

.navbar .navbar-wrapper .links .link {
    margin-right: 40px;
    font-size: 15px;
    text-decoration: none;
    border-bottom: transparent 0.125em solid;
    color: var(--cream);
    letter-spacing: 0.2em;
}

.navbar .navbar-wrapper .links .link:hover {
    color: var(--light);
    border-bottom: var(--light) 0.125em solid;
    transition: 0.2s ease-in-out;
}


.navbar .navbar-wrapper .links .cart-summary-button {
    margin-right: 2vw;
    width: 40px;
    height: 40px;
}
.navbar .navbar-wrapper .links .cart-summary-button.disabled {
    pointer-events: none;
}

.navbar .menubar {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 370px;
    left: -800px;
    transition: 0.2s ease-in-out;
    background-color: var(--cream);
    opacity: 0;
}
.navbar .menubar.open {
    opacity: 1;
    left: 0px;
    z-index: 100;
    overflow: hidden;
}
.navbar .menubar.close {
    pointer-events: none;
}
.navbar .menubar .menu-title {
    color: var(--light);
    font-size: 40px;
    font-weight: 500;
    margin-top: 0px;
}
.navbar .menubar button {
    float: right;
    padding: 10px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.navbar .menubar button:hover {
    color: var(--light);
}

.navbar .menubar .links {
    padding-top: 50px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar .menubar .links .link {
    padding-top:23px;
    font-size: 16px;
    font-weight: 500;
    color: var(--dark);
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.2em;
    display: inline-block;
    position: relative;
}
.navbar .menubar .links .link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.2px;
    bottom: 0;
    left: 0;
    background-color: var(--grey);
    transition: transform 0.3s ease-out;
    transform-origin: bottom right;
}

.navbar .menubar .links .link:hover{
    transition: 0.15s ease-in-out;
}

.navbar .menubar .links .link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar .social-media {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
}
.navbar .social-media svg {
    margin: 15px;
    cursor: pointer;
}


@media only screen and (max-width: 900px) {

}
  
@media only screen and (max-width: 600px) {
    .navbar .navbar-wrapper .links .link {
        display: none;
    }
}
  
@media only screen and (max-width: 600px) {
    .navbar .menubar {
        width: 100%;
    }
    .navbar .menubar .menu-title {
        font-size: 33px;
    }
    .navbar .menubar .links a {
        padding-top:23px;
        font-size: 18px;
        font-weight: 500;
        color: var(--dark);
        cursor: pointer;
        text-decoration: none;
        letter-spacing: 0.2em;
    }

}
@media only screen and (max-height: 600px) {
    .navbar .social-media {
        display: none;
    }
}