.tour-info-page {
    margin: 100px 0;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-wrapper svg {
    color: var(--dark);
}
.tour-info-page h2 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: var(--dark);
    margin: 15px 0;
}
.tour-info-page h3 {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: var(--dark);
    margin: 4px 0;

}
.tour-info-page p {
    font-size: 13px;
}
.tour-info-page .separator {
    height: 1px;
    width: 100%;
    background-color: var(--grey);
    border: none;
    opacity: 0.2;
    margin: 20px 0;
}

.tour-wrapper {
    width: 95%;
    max-width: 1000px;
    display: block;
}
.tour-wrapper .tour-title {
    font-weight: 700;
    font-size: 30px;
    color: var(--dark);
}
.tour-wrapper .description {
    font-size: 17px;
    font-weight: 350;
    text-align: left;
    color: var(--dark);
}


.page-devider {
    display: flex;
}
.page-devider .left, .page-devider .right{
    margin: 10px;
}

.tour-wrapper .info-wrapper {
    text-align: left;
    margin: 10px 0;
}
.info-wrapper .info-list {
    display: grid;
    grid-template-columns: 0.05fr 1fr;
    margin: 15px 0;
}
.guest-info {
    border-radius: 3px;
    border: 1px solid var(--grey-light);
    background-color: var(--background);
    padding: 10px 30px ;
}

.guest-info .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.guest-info .label p {
    font-size: 14px;
    font-weight: 500;
}

.guest-info .input {
    display: flex;
    font-size: 14px;
}
.guest-info .form .pax {
    width: 30px;
    appearance: text;
    text-align: center;
}

.guest-info input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.guest-info input[type=number] {
    appearance: textfield; /* Firefox */
}
.guest-info .inputs .dateWarning {
    font-size: 10px;
    color: red;
}
.guest-info .buttons {
    max-width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 40px;
}



@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 600px) {
}