.tourInfo {
    padding: 100px 0;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tour-title {
    font-weight: 500;
    font-size: 28px;
    color: var(--dark);
}
.tourInfo .tourInfoHandler {
    text-align: left;
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
}
.tourInfoHandler .category {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-bottom: 5px;
}
.tourInfoHandler h3 {    
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
}

.tourInfoHandler svg {
    margin-right: 5px;
}

.tourInfo .tourInfoHandler p {
    font-size: 14px;
    color: var(--grey);    
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style-type: none;
}
.tourInfo .separator {
    height: 0.5px;
    background-color: var(--grey);
    border: none;
    opacity: 0.2;
    margin: 10px;
}
.tourInfo .guestInput h3 {
    font-size: 15px;
    color: var(--light);
}

.guestInput .inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.guestInput .label p {
    font-size: 14px;
    font-weight: 300;
}

.guestInput .input {
    display: flex;
    font-size: 13px;

}
.guestInput .inputs .pax {
    width: 30px;
    appearance: text;
    text-align: center;
}

.guestInput input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.guestInput input[type=number] {
    appearance: textfield; /* Firefox */
}
.guestInput .inputs .dateWarning {
    font-size: 10px;
    color: red;
}

.tourInfo .buttons {
    max-width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 40px;
}



@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {

}
@media only screen and (max-width: 600px) {
    .tourInfo .guestInput {
        margin-left: 0;
        margin-right: 0;
        border-radius: 0px;
    }
    .tourInfo .tourInfoHandler h3 {
        font-size: 17px;
        margin-bottom: 5px;
        margin-top: 5px;

    }
    .tourInfo .tourInfoHandler span{
        display: flex;
        flex-direction: column;
    } 
    .titleBar .name {
        font-size: 18px;
    }
}