.tour {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--background);
    border-radius: 3px;
    border: 1px solid var(--grey-light);
    box-shadow: 1px 1px 4px 3px rgba(142, 142, 142, 0.169);
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
}

.tour .image {
    width: 100%;
    object-fit: contain;
}

.tour .tour-detail {
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tour .name {
    font-size: 18px;
    font-weight: 600;
    text-align: start;
}
.tour .duration {
    text-align: left;
    font-size: 14px;
}
.tour .description {
    font-size: 12px;
    text-align: left;
    margin: 10px 0;
}
.tour .price-warpper {
    width: 100%;
    font-size: 12px;
    display: flex;
    justify-content: start;
    align-items: end;
}
.tour .price-warpper .price {
    font-size: 20px;
    font-weight: 600;
    margin-right: 8px;
}
.tour .carousel .carousel-buttons {
    opacity: 0;
    transition: 0.2s;
    transition-delay: 0.2s;

}
.tour .carousel:hover .carousel-buttons {
    opacity: 1;
}
.tour .tour-detail-button {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}
.tour .tour-detail-button .button {
    margin: 0;
}
/*
.selectBttn {
    background-color: var(--dark);
    color: white;
    min-width: 96%;
    min-height: 40px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
    border: none;
    font-size: 11px;
}

.selectBttn:hover {
    cursor: pointer;
    background-color: var(--light);
    transition: 0.2s ease-in;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.tour .separator {
    height: 0.5px;
    background-color: var(--grey);
    border: none;
    opacity: 0.2;
    margin: 10px;
}
*/
@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {

}
@media only screen and (max-width: 600px) {

}