.tour-recommendations {
    margin: 40px auto;
    max-width: 100%;
}

.tour-recommendations .swiper {
    padding: 0 20px;
    max-width: 800px;
    height: 100%;
    --swiper-navigation-color: var(--dark);
    --swiper-navigation-size: 15px;
}
.tour-recommendations .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tour-recommendations .swiper-pagination .swiper-pagination-bullet  {
    background-color: var(--dark);
}

.tour-recommendations .recommendation {
    width: 220px;
    height: 190px;
    margin: 30px auto;
    background-color: white;
    transition: 300ms ease 100ms;
    background-color: var(--background);
    border-radius: 3px;
    border: 1px solid var(--grey-light);
    overflow: hidden;
    position: relative;
}

.tour-recommendations .recommendation:hover {
    transform: scale(1.03) !important;
}

.tour-recommendations .recommendation .tourImg {
    width: 100%;
    height: 65%;
    object-fit: cover;
}
.tour-recommendations .recommendation .tourName {
    width: 100%;
    height: 35%;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
}

.tour-recommendations .recommendation .see-more-button {
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    border-radius: 5px;
    padding: 5px;
    height: 40px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in;
    background-color: rgba(255, 255, 255, 0.792);
    color: black;
    padding-left: 20px;

}

.tour-recommendations .recommendation .see-more-button svg {
    margin-left: 3px;
    opacity: 0;
}
.tour-recommendations .recommendation:hover .see-more-button {
    opacity: 1;
    top: 50%;
}
.tour-recommendations .recommendation:hover .see-more-button:hover {
    background-color: var(--background);
}
.tour-recommendations .recommendation:hover .see-more-button:hover svg {
    opacity: 1;
}
.tour-recommendations .recommendation .background {
    background-color: rgba(145, 145, 145, 0.619);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
}

.tour-recommendations .recommendation:hover .background {
    opacity: 1;
}

@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {

}
@media only screen and (max-width: 600px) {
    .tour-recommendations h3 {
        font-size: 14px;
    }
}