.tour-recommendations {
    margin: 40px auto;
    max-width: 100%;
}

.tour-recommendations .swiper {
    padding: 0 20px;
    max-width: 1000px;
    height: 100%;
    --swiper-navigation-color: var(--dark);
    --swiper-navigation-size: 15px;
}
.tour-recommendations .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tour-recommendations .swiper-pagination .swiper-pagination-bullet  {
    background-color: var(--dark);
}

.tour-recommendations .recommendation {
    width: 250px;
    height: 250px;
    margin: 40px auto;
    background-color: white;
    border-radius: 3px;
    transition: transform 300ms ease 100ms;
    cursor: pointer;
    box-shadow: 3px 3px 7px 4px rgba(142, 142, 142, 0.169);
    overflow: hidden;
    position: relative;
}

.tour-recommendations .recommendation:hover {
    transform: scale(1.05) !important;
}

.tour-recommendations .tourImg {
    width: 100%;
    height: 60%;
}
.tour-recommendations .tourName {
    height: 20px;
    padding: 15px;
    font-size: 15px;
    font-weight: 500;
    color: var(--dark);
}

.tour-recommendations .see-more-button {
    background-color: transparent;
    color: var(--grey);
    border-radius: 3px;
    border: none;
    font-size: 10px;
    text-decoration: underline;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

@media only screen and (max-width: 1300px) {
}
@media only screen and (max-width: 900px) {

}
@media only screen and (max-width: 600px) {
    .tour-recommendations h3 {
        font-size: 14px;
    }
}