.payment-form .payment-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.payment-form .message {
    font-size: 11px;
    color: red;
    margin-top: 10px;
}